.card-jogos {
  border-radius: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
.card-header {
  margin-top: 20px;
  border-radius: 0px;
  margin-left: 9px;
  margin-right: 9px;
}
.meio {
  text-align: center;
}
.fundo {
  --background: url("../../../assets/imgs/fundoCampo.jpg") !important;
  background-repeat: no-repeat;
}

.transparente {
  background: transparent;
}
