ion-content {
  --background: url(" ../../../assets/imgs/fundoMaster.png");
  //background-repeat: no-repeat;
}
h2 {
  text-align: center;
}

.nome {
  margin: 38px;
}
.artilheiro-lista {
  border-radius: 0px;
  margin-bottom: 10px;
}

.card-artilheiro {
  margin-top: 20px;
  border-radius: 0px;
  margin-left: 9px;
  margin-right: 9px;
}
